*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
    background: #252525;
    margin-bottom: 30px;
}
.box{
  background: white;
  font-size: 10px;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  color: black;
  background-color: white;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
.image{
  display: flex;
  flex-flow: row nowrap;
}
#logo{
  width: 130px;
  margin: auto;
}
#titulo{
  font-size: 40px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}
#subt{
  font-size: 30px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
#pett{
  font-size: 30px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
#pte{
  letter-spacing: 5px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
#web{
  letter-spacing: 2px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.men{
  font-size: 25px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
ul{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
a{
  color: black;
  text-decoration: none;
}
header{
  padding-bottom: 60px;
}
.box-main{
  padding: 20px;
  padding-bottom: 30px;
  background: white;
  display: flex;
  flex-flow: column wrap;
}
#titulo-box-main{
  font-size: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  letter-spacing: 3px;
  text-decoration: underline;
}
.caixa{
  background-color: #ccc;
  height: 25vh;
  width: 40vh;
  display: flex;
  margin: auto;
  flex-flow: column wrap;
}
.caixa2{
  background-color: #ccc;
  height: 25vh;
  width: 40vh;
  display: flex;
  margin: auto;
  margin-top: 30px;
  flex-flow: column wrap;
}
.caixa3{
  background-color: #ccc;
  height: 25vh;
  width: 40vh;
  display: flex;
  margin: auto;
  margin-top: 30px;
  flex-flow: column wrap;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}
.box-sobre{
  margin-top: 30px;
  background: white;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}
#minhaft{
  border: 5px solid black;
  height: 300px;
  width: 300px;
  padding: 3px;
  border-radius: 100%;
  display: flex;
  margin: auto;
}
#nome{
  display: flex;
  margin: auto;
}
#sobre{
  display: flex;
  margin: auto;
  padding-top:20px;
  padding-bottom: 10px;
}
@media (min-width: 750px) {
body {
    background: #252525;
    margin-bottom: 40px;
}
.box{
  background: white;
  font-size: 10px;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  color: black;
  background-color: white;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
.image{
  display: flex;
  flex-flow: row nowrap;
}
#logo{
  width: 250px;
  margin: auto;
}
#titulo{
  font-size: 70px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}
#subt{
  font-size: 60px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
#pett{
  font-size: 60px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
#pte{
  letter-spacing: 5px;
  font-size: 70px;
  display: flex;
  justify-content: center;
}
#web{
  letter-spacing: 2px;
  font-size: 60px;
  display: flex;
  justify-content: center;
}
.men{
  font-size: 55px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
ul{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
a{
  color: black;
  text-decoration: none;
}
header{
  padding-bottom: 60px;
}
.box-main{
  padding: 20px;
  padding-bottom: 30px;
  background: white;
  display: flex;
  flex-flow: column wrap;
}
#titulo-box-main{
  font-size: 85px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  letter-spacing: 5px;
}
.caixa{
  background-color: #ccc;
  height: 25vh;
  width: 40vh;
  display: flex;
  margin: auto;
  flex-flow: column wrap;
}
.caixa2{
  background-color: #ccc;
  height: 25vh;
  width: 40vh;
  display: flex;
  margin: auto;
  margin-top: 30px;
  flex-flow: column wrap;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}
.box-sobre{
  margin-top: 60px;
  background: white;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}
#minhaft{
  border: 10px solid black;
  height: 700px;
  width: 700px;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  margin: auto;
}
#nome{
  display: flex;
  font-size: 60px;
  margin: auto;
}
#sobre{
  display: flex;
  margin: auto;
  padding-top:20px;
  padding-bottom: 30px;
}
}
